html, body {
    font-family: 'Merriweather Sans', FontAwesome, sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.header .row::after {
    content: attr(data-class);
    clear: both;
    display: table;
}

.livestream-detail-page {
    overflow: hidden;
    height: 100vh;
}

.livestream-detail-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 70%;
}

.livestream-description-container {
    width: 100%;
    padding: 5px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
}

.livestream-description-container h1 {
    font-size: 20px; font-weight: 500px; color: rgba(39,199,171,1);
}

.livestream-description-container .publish-stream-button {
    background-color: transparent;
    border-color: rgba(39,199,171,1);
    color: rgba(39,199,171,1);
}

.livestream-video {
    width: 100%;
    height: 100%;
    background-color: #111;
}

video::-webkit-media-controls {
    display :none !important;
}

video::-webkit-media-controls-enclosure {
    display :none !important;
}

.video-container {
    width: 100%;
    height: 100%;
    /* height: 423px;
    width: 704px;
    max-width: 704px;
    height: 396px; */
    position: relative;
}

.video-container:hover .controls {
    transform: translateY(0);
    z-index: 2147483647;
}

.controls {
    /* display: flex; */
    position: absolute;
    bottom: 0px;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(80, 74, 74, 0.205);
    transform: translateY(100%) translateY(-5px);
    transition: all 0.2s;
    z-index: 2147483647;
}

.video-buttons {
    padding: 3px;
}

.video-buttons button {
    padding: 10px;
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: rgba(39, 199, 172, 0.9);
}


.video-buttons button::before {
    width: 30px;
    height: 30px;
    font-size: 28px;
    color: rgba(39, 199, 172, 0.9);
    text-align: center;
}

.video-buttons #screen-sharing-button span i:first-child {
    position: absolute;
}

.video-buttons #screen-adjust-button {
    float: right;
}

.video-progress-bar {
    height: 3px;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #000;
}

.video-progress-bar-color {
    height: 3px;
    background-color: rgba(39,199,171,1);
}


.livestream-chatwindow-container {
    height: 100%;
}



.livestream-page h1 {
    font-size: 25px; font-weight: 500px; color: rgba(39,199,171,1);
    margin: 30px 70px 20px 70px;
}


.livestream-list .card .watchnow-link {
    background-color: transparent;
    border-color: rgba(39,199,171,1);
    color: rgba(39,199,171,1);
    float: right;
}

.livestream-page .publish-stream-link {
    background-color: transparent;
    border-color: rgba(39,199,171,1);
    color: rgba(39,199,171,1);
    padding: 12px 16px;
    margin-right: 75px;
    display: inline;
}

.livestream-list img {
    width: 100%;
    height: auto;
}

.header {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.container {
    max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.container-fluid {
    width: 100%;
}

.intro-section {
    display: flex;
    align-items: center;
    padding: 20px;
}

.howto-section {
    padding: 20px;
    width: 100%;
    align-items: center;
    text-align: center; 
}


.howto-section .row {
    margin: 40px 0;
}

.howto-section div div h1 {
    font-size: 30px; font-weight: 500px;
}

.howto-section div div h3 {
    font-size: 25px; font-weight: 500px;
}

.howto-section div div p {
    font-size: 16px; 
    padding: 5px 0; color: gray;
}

.howto-section .row i {
    color: rgba(39,199,171,1);
}

.availability-section {
    margin: 30px 0;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center; 
}

.availability-section h1 {
    font-size: 30px; font-weight: 500px;
}

.availability-section div div img {
    height: auto;
    width: 100%;
}

.platforms-logos {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
}

.platforms-logos div {
    font-size: 18px; 
    color: rgba(39,199,171,1);
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.platforms-logos div i {
    margin: 10px;
}



.header nav {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    z-index: 9999;
}

.header nav ul li {
    list-style: none;
    transform: translateX(1000px);
    animation: slideIn .5s forwards;
}

.header nav ul li .nav-link:last-child {
    margin-right: 0;
}

.header nav ul li:nth-child(1) {
    animation-delay: 0.25s;
}

.header nav ul li:nth-child(2) {
    animation-delay: 0.5s;
}

.header nav ul li:nth-child(3) {
    animation-delay: 0.75s;
}

.header nav ul li:nth-child(4) {
    margin: 13px 20px 0 20px;
    animation-delay: 1s;
}

.header nav ul {
    display: flex;
}

.header .nav-login-link {
    text-transform: uppercase;
    color: white;
    position: relative;
    letter-spacing: 2px;
    text-align: center;
    outline: none;
    border: none;
    box-shadow: none;
    padding: 6px 12px;
    border-radius: 3px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(39,199,171,1) 0%, rgba(70,143,197,1) 90% );
}

.header .nav-login-link:hover {
    text-decoration: none;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(39,199,171,1) 0%, rgba(70,143,197,1) 50% );
    color: white;
    outline: none;
    border: none;
    box-shadow: none;
}

.header .nav-login-link:active:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(39,199,171,1) 0%, rgba(70,143,197,1) 50% );
}

.header .nav-name-button {
    margin: -16px 0 0 10px;
    text-transform: uppercase;
    color: white;
    position: relative;
    letter-spacing: 2px;
    text-align: center;
    outline: none;
    border: none;
    box-shadow: none;
    padding: 5px 11px;
    border-radius: 3px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(39,199,171,1) 0%, rgba(70,143,197,1) 90% );
}

.header .nav-name-button:hover {
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(39,199,171,1) 0%, rgba(70,143,197,1) 50% );
}

.header .nav-name-button:active:focus {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(39,199,171,1) 0%, rgba(70,143,197,1) 50% );
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    margin-top: 10px
}

.nav-link {
    padding: 15px 0;
    margin: 0 20px;
    text-decoration: none;
    color: rgba(39,199,171,1);
    position: relative;
    letter-spacing: 2px;
}

.nav-link:hover {
    color: rgba(39,199,171,1);
}

.brand-name {
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}

.brand-link {
    text-decoration: none !important;
    font-size: 30px;
    font-weight: 400px;
    color: rgba(39,199,171,1);
}

.brand-link img {
    width: 50px;
    height: 50px;
    max-width: 100px;
}

.brand-link:hover {
    color: rgba(39,199,171,1);
}

.header .nav-link::before,
.header .nav-link::after {
    content: attr(data-class);
    position: absolute;
	width: 100%;
	height: 2px;
	background-color: rgba(39,199,171,1);
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

.header .nav-link::before {
    top: 0;
    transform-origin: left;
}

.header .nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.header .nav-link:hover::before,
.header .nav-link:hover::after  {
    transform: scaleX(1);
}

@keyframes slideIn {
    from {

    }
    to {
        transform: translateX(0);
    }
}

.intro-leftside {
    height: 100%;
    padding: 80px 0 80px 60px;
}

.header .intro-leftside h1 {
    margin-left: 30px; font-size: 30px; font-weight: 500px;
}

.intro-leftside p {
    font-size: 16px; 
    margin: 30px 0px;
    color: grey;
}

.intro-rightside {
    display: flex;
    align-items: center;
    align-content: center;
    overflow: hidden;
}

.intro-rightside img {
    width: 170%;
    margin: -11.875% -30.875%;
    height: auto;
}


/* Error */

.error-message {
    color: red;
    font-size: 12px;
    text-align: left;
    
}


.menu-toggle {
	position: fixed;
	top: 2rem;
	right: 2rem;
	color: rgba(39,199,171,1);
	font-size: 2rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

.overlay {
	background-color: white;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
    display: none !important;
}


/* Page */

.login-page {
    width: 100%;
    height: 100%;
    position: fixed;
}

.signup-page {
    width: 100%;
    height: 100%;
    position: fixed;
}

.media-page {
    width: 100%;
    height: 90%;
    position: fixed;
}

.media-page .row {
    height: 90%;
}

.media-page .row .col {
    height: 90%;
}

.call-screen-page {
    width: 100%;
    height: 100%;
    position: fixed;
    background: black;
}


.btn-call {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    border: none;
    outline: none;
    background: rgba(80, 80, 80, 0.5);
    color: white;
}

.btn-call:hover {
    background: rgba(100, 100, 100, 0.5);
}

.btn-hangup {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    border: none;
    outline: none;
    background: rgba(235, 60, 60, 0.8);
    color: white;
}

.btn-hangup:hover {
    background: rgba(255, 60, 60, 0.8);
}

.btn-sharescreen {
    border: none;
    outline: none;
    background-color: transparent;
    color: rgba(200, 200, 200, 0.5);
    font-size: 20px;
}

.btn-sharescreen:hover {
    color: rgba(255, 255, 255, 0.5);
}

.on-top-right {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    margin: 10px;
}


/* Images */
.login-img {
    background-image: url("https://cdn.dribbble.com/users/3014280/screenshots/5970771/illustration-drib-drib_4x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }

 .signup-img {
    height: 100%;
    background-image: url("https://cdn.dribbble.com/users/1691844/screenshots/6260596/attachments/1341291/obszar_roboczy_2_kopia_21_2x-100.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.media-img {
    height: 100%;
    background-image: url("https://cdn.dribbble.com/users/5055/screenshots/5096954/dr1_4x.png");
    /* background-image: url("https://cdn.dribbble.com/users/499731/screenshots/6679284/floating_4x.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-caller-img {
    background-image: url("https://cdn.dribbble.com/users/1537480/screenshots/4644029/untitled-1-01.jpg");
    height: 140px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-callee-img {
    background-image: url("https://cdn.dribbble.com/users/2424687/screenshots/6509663/learn_anywhere-01_4x.png");
    height: 140px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.videocall-overlay-img {
    position: absolute;
    z-index: 300000;
}


/* Container */

.call-screen-container {
    width: 100%;
    height: 100vh;
    display: flex;
    /* height: 100%; */
    align-items: center;
    justify-content: center;
}

.login-form-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.login-page-container {
    height: 100%;
}

.signup-form-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.media-form-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.videocall-remotestream-container {
    display: flex;
    max-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.videocall-localstream-container {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: right;
    justify-content: right;
    height: 153px;
    max-height: 153px;
    width: 272px;
    max-width: 272px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.call-screen-page .call-buttons {
    display: flex;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    z-index: 10;
    background-color: transparent;
}

/* Form */
.login-form {
    text-align: center;    
}

.login-form-header {
    padding: 15px;
    color: rgba(39,199,171,1);
}

.login-form-input {
    padding: 5px;
    width: 300px;
}


.login-form-link {
    color: rgba(39,199,171,1);
    font-size: 14px;
}

.login-form-link:hover {
    text-decoration: none;
    color: rgba(70,143,197,1);
}

.signup-form-link {
    color: rgba(39,199,171,1);
    font-size: 14px;
}

.signup-form-link:hover {
    text-decoration: none;
    color: rgba(70,143,197,1);
}

.signup-form {
    text-align: center;    
}


.signup-form-header {
    padding: 15px;
    color: rgba(39,199,171,1);
}

.signup-form-input {
    margin: 15px;
    width: 300px;
}


.signup-birthday-input {
    margin-left: 20px;
    text-align: center;
}

.signup-form-link {
    color: rgba(39,199,171,1);
    font-size: 14px;
}



.media-form-header {
    padding: 15px;
    color: rgba(39,199,171,1);
}

.media-table thead {
    background-color: rgba(39,199,171,1);
}



.media-nav {
    height: 100%;
    background-color: rgba(39,199,171,1);
    text-align: center;
    align-items: center;
}

.media-nav-link {
    background: transparent;
    width: 100%;
}

.media-onlineuser-group {
    width: 100%;
    font-size: 20px;
}



.media-nav {
    align-content: center;
    text-align: center;
    width: 20%;
}

.media-nav-link {
    color: white;
}

.search-userbox-group-scroll {
    margin-top: 5px;
    width: 100%;
    height: 150px;
    overflow: hidden; 
    overflow-y: scroll;
}

.search-userbox-group {
    margin-top: 5px;
    width: 100%;
}

.search-userbox-button {
    background-color: white;
    color: rgba(39,199,171,1);
    text-align: left;
    border: none !important;
    outline: none !important;
}

.search-userbox-button:hover {
    color: white;
    background-color: rgba(39,199,171,1);
    border: none !important;
    outline: none !important;
}

.input-search-userbox {
    margin-top: 10px;
    margin-bottom: 5px;
}

.close-button {
    border: none !important;
    outline: none !important;
}

.close-button:hover {
    outline: none !important;
}

.form-search-userbox {
    margin: 10px;
}

.modal-videoupgrade-dialog {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.modal-videomessage-dialog {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.modal-callee-dialog {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.media-username-li {
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-callee-button {
    border-radius: 50%;
    color: white;
    text-align: center;
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.modal-display {
    display: block;
}

.modal-hide {
    display: none;
}

.videocall-localstream {
    width: 100%; 
    height: 100%;
}

.videocall-remotestream {
    height: 100%;
}

/* buttons */

.audio-button {
    border-radius: 50%;
    /* color: white; */
    text-align: center;
    height: 50px;
    width: 50px;
}

.modal-user-dialog {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}  


.userdialog-audio-button {
    border-radius: 50%;
    background-color: rgba(39,199,171,1);
    color: white;
    text-align: center;
    height: 50px;
    width: 50px;
    margin: 5px;
}

.userdialog-video-button {
    border-radius: 50%;
    background-color: #FF6466;
    color: white;
    text-align: center;
    height: 50px;
    width: 50px;
    margin: 5px;
}


.hangup-button {
    border-radius: 50%;
    color: white;
    text-align: center;
    height: 50px;
    width: 50px;
}


.login-button {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(39,199,171,1) 0%, rgba(70,143,197,1) 90% );
    color: white;
    color: white;
    text-align: center;
    width: 225px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    padding: 7px;
    border: none;
    outline: none;
}

.login-button:hover {
    color: white;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(39,199,171,1) 0%, rgba(70,143,197,1) 50% );
}

.media-call-button {
    background-color: rgba(39,199,171,1);
    color: white;
    text-align: center;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    border: none;
    outline: none;
    margin-right: 3px;
}

.media-call-button:hover { border: none; outline: none; background-color: rgb(48, 228, 198);}

.media-call-button-li {
    background-color: rgba(39,199,171,1);
    color: white;
    text-align: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    float: right;
    margin-right: 10px;
}

.media-call-button-li:hover { border: none; outline: none; background-color: rgb(48, 228, 198);}


.media-video-button-li {
    background-color: #FF6466;
    color: white;
    text-align: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    margin-right: 5px;
    float: right;
}

.media-video-button-li:hover { border:none; outline: none; background-color: rgb(255, 61, 65);}


.media-message-button {
    background-color: rgba(70,143,197,1);
    color: white;
    text-align: center;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin: 3px;
}

.media-onlineuser-li {
    text-align: left;
    height: 45px;
    width: 100%;
    list-style-type: none;
    margin-bottom: 5px;
    padding: 0;
    background-color: white;
    color: rgba(39,199,171,1);
}


.media-video-button {
    background-color: #FF6466;
    color: white;
    text-align: center;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    border: none;
    outline: none;
    margin: 3px;
}

.media-video-button:hover { border:none; outline: none; background-color: rgb(255, 61, 65);}


.signup-button {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(39,199,171,1) 0%, rgba(70,143,197,1) 90% );
    color: white;
    color: white;
    text-align: center;
    width: 225px;
    border-radius: 3px;
    display: inline-block;
    margin: 10px;
    padding: 7px;
    text-decoration: none !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.signup-button:hover {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(39,199,171,1) 0%, rgba(70,143,197,1) 50% );
    color: white;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}


.stop-video-button {
    border-radius: 50%;
    text-align: center;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
}

.stop-video-button:hover { outline: none; }

.upgrade-video-button {
    border-radius: 50%;
    color: white;
    text-align: center;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
}

.upgrade-video-button:hover { outline: none; }


/* margin */

.m-10 { margin: 10px; }
.m-20 { margin: 20px; }
.m-40 { margin: 40px; }
.m-30 { margin: 30px; }
.m-50 { margin: 50px; }

.mb-3 { margin-bottom: 3px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }

.ml-10 { margin-left: 10px; }

.mt-10 { margin-top: 10px; }

.mt-20 { margin-top: 20px; }


.media-sidebar {
    height: 100vh;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.sidebar {
    height: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 30px 0;
}

.sidebar ul li a {
    color: rgba(39,199,171,1);
    font-size: 20px;
}

.media-page-container {
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.media-page-container .media-conversation-list-container {
    width: 30%;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    overflow: hidden;
}


.media-message-container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.media-conversation-container {
    height: 80%;
    width: 100%;
}


.media-search-container {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
}

.media-search-container h5 {
    margin: 10px 5px;
    color: rgba(39,199,171,1);
}

.media-search-container input {
    border-radius: 10px;
    border: 1px solid #eee;
    padding: 5px 20px;
}

.media-online-list {
    background: black;
}

.search-container {
    height: 100px;
}


.media-conversation-list-container .user {
    height: 15vh;
    padding: 20px;
    border-bottom: 1px solid rgba(146, 149, 158, 0.5);
    display: flex;
    align-items: center;
    vertical-align: middle;
    overflow: hidden;
}


.media-conversation-list-container .user .user-avatar {
    padding: 0 5px;
}

.media-conversation-list-container .user .about {
    float: left;
    margin: 0 10px;
}

.media-conversation-list-container .user .about .name {
    font-weight: bold;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-avatar {
    float: left;
    width: 55px;
    height: 55px;
    background: rgba(39,199,171,1);
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 55px;
    text-transform: uppercase;
    font-size: 20px;
}


.media-conversation-list-container .tab button {
    background-color: white;
    color: rgba(39,199,171,1);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 50%;
    border-bottom: 2px solid rgba(39,199,171,1);

}

.people-list::before, .people-list::after {
    box-sizing: border-box;
}

.people-list {
    background: white;
    width: 100%;   
    height: 90vh;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
}


.people-list .search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 5px 20px;
}
  
.people-list input {
    border-radius: 3px;
    border: none;
    padding: 10px 15px;
    background: #eeee;
    width: 90%;
    font-size: 14px;
}

.people-list ul {
    padding: 20px;
    list-style: none;
}

.people-list > ul > li {
    display: flex;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    padding: 5px 0;
    border-bottom: 1px solid rgba(146, 149, 158, 0.219);
    cursor: pointer;
    width: 100%;
}


.people-list ul > li > a { 
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    padding: 5px 0;
}

.people-list ul > li > a:visited, 
.people-list ul > li a:hover, 
.people-list ul > li a:active {
    background-color: #eeee;
}


.people-list img {
    float: left;
    border-radius: 50%;
}

.people-list .about {
    float: left;
    padding: 5px 0;
    padding-left: 8px;
}

.people-list .name {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.people-list .status {
    color: #92959E;
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
  
.online {
  color: #86BB71;
}
  
.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.media-chat-container {
    width: 70%;
    height: 100vh;
    overflow: hidden;
}

.chat {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
    
.chat .chat-header {
    height: 15vh;
    padding: 0 20px;
    width: 100%;
    border-bottom: 1px solid rgba(146, 149, 158, 0.5);
    display: flex;
    align-items: center;
    vertical-align: middle;
}
    
.chat .chat-about {
    float: left;
    color: black;
    padding-left: 10px;
}
    
.chat .chat-with {
    font-weight: bold;
    font-size: 16px;
    width: 545px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}

.chat .chat-header .user-avatar {
    height: 55px;
}

    
.chat .chat-header .chat-call {
    font-size: 25px;
}

.chat .chat-header .chat-call button {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 20px;
    color: rgba(39,199,171,1);
    cursor: pointer;
}

.chat .chat-header .chat-call button:disabled, button[disabled] {
    color: rgba(61, 80, 77, 0.75);
}

.chat .chat-header .chat-call button:hover:not([disabled]) {
    color: rgba(39, 199, 171, 0.75);
}

.chat-history {
    width: 100%;
    border-bottom: 1px solid rgba(146, 149, 158, 0.5);
    overflow-y: auto;
    height: 75vh;
    max-height: 75vh;
    overflow-x: hidden;
}

.chat-history ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.chat-history .my-chat-message-data {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    display: block;
    position: relative;
    clear: both;
    max-width: 90%;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 60px;
}

.chat-history .my-chat-message-data > p {
    position: relative;
    word-break: break-all;
    display: inline-block;
    padding: 10px;
    border-radius: 7px;
    font-size: 15px;
    background: rgba(39,199,171,1);
    color: white;
    max-width: 90%;
}

.chat-history .chat-message-data {
    position: relative;
    border-radius: 6px; 
    margin-top: 15px;
    margin-left: 15px; 
    margin-bottom: 10px;
    font-size: 15px;
    max-width: 90%;
}

.chat-history .chat-message-data > p {
    position: relative;
    word-break: break-all;
    display: inline-block;
    padding: 10px;
    border-radius: 6px;  
    background: #eee;
    color: #000;
    font-size: 15px;
    max-width: 90%;
}
    
.chat-message {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
    
.chat-message textarea {
    width: 100%;
    border: none;
    margin: 0 10px;
    border-radius: 5px;
    resize: none;
    background: #eee;
}
    
.chat-message .fa-file-o, .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}
    
.chat-message button {
    float: right;
    color: rgba(39,199,171,1);
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: white;
    margin: 0 3px;
}
    
.chat-message button:hover {
    color: rgba(39, 199, 171, 0.75);
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid rgba(39,199,171,1);
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.livestream-form-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.livestream-review {
    width: 75%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #000;
}

.preview-localstream {
    margin: 0; 
    padding: 0;
    height: 100%;
    width: 100%;
}

.livestream-form {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100vh; 
}

.livestream-form form {
    padding: 20px;
}

.livestream-form input {
    margin: 5px 0 20px 0;
    padding: 5px 15px;
}

.livestream-form textarea {
    margin: 5px 0 15px 0;
    padding: 5px 15px;
    resize: none;
}

.livestream-form button {
    text-decoration: none;
    background: rgba(39,199,171,1);
    color: white;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 7px;
    cursor: pointer;
    width: 100%;
}

.livestream-page-container {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
} 

.livestream-page {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.livestream-page .create {
    text-decoration: none;
    border: 1px solid rgba(39,199,171,1);
    color: rgba(39,199,171,1);
    padding: 10px;
    border-radius: 6px;
}


.livestream-header {
    position: fixed;
    top: 0;
    color: white;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    cursor: pointer;
}

.livestreamdetail-container {
    height: 100vh;
    width: 60%;
    overflow: hidden;
}

.livestream-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.livestream-create-header {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 20%;
    margin: 0;
}

.livestream-container input {
    width: 50%;
}

.livestream-container .create {
    padding: 12px 16px;
    text-align: center;
    background-color: rgba(39,199,171,1);
    border-radius: 3px;
    border: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.livestream-container .create:hover {
    background-color: rgba(39, 199, 171, 0.75);
}

.livestreamdetail-header button {
    padding: 12px 16px;
    border: none;
    background-color: rgba(39,199,171,1);
    text-decoration: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.livestreamdetail-header button:hover {
    background-color: rgba(39, 199, 171, 0.75);
}

.livestream-filters {
    width: 100%;
    margin-left: 30px;
}

.livestream-filters button {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.livestream-filters button:hover {
    background-color: #ddd;
}

.livestream-list {
    overflow: hidden;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
}

.livestream-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


.livestream-list ul > li {
    float: left;
    width: 30%;
    margin: 0px 10px 75px 20px;
    box-sizing: border-box;
}

.livestream-list ul li .card-img-top {
    height: 100%;
}

.livestream-list ul li .card-title {
    font-weight: bold;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.livestream-list ul li .card-text {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.livestream-list ul li .card-status {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(39,199,171,1); 
    font-size: 20px;
}

.livestream-list ul > li a {
    padding: 10px;
    float: right;
    text-align: center;
    background: rgba(39,199,171,1);
    border-radius: 3px;
    border: none;
    text-decoration: none;
    color: white;
    vertical-align: middle;
    cursor: pointer;
}

.livestreamdetail-page {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.livestreamdetail-header {
    width: 100%;
    height: 10%;
    padding: 25px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    vertical-align: middle; 
}

.livestreamdetail-header label {
    font-weight: bold;
}

.livestreamdetail-videocontainer {
    width: 100%;
    height: 70%;
    padding: 15px;
    overflow: hidden;
}

.livestreamdetail-description {
    padding: 10px 25px;
    height: 20%;
}

.livestreamdetail-description label {
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.livestreamdetail-description p {
    font-weight: lighter;
    height: 50%;
    overflow-x: hidden;
    overflow-y: auto;
}

.livestreamdetail-chat-container {
    width: 40%;
    overflow: hidden;
    height: 100vh;
}

.livestreamdetail-chat-header {
    padding: 15px;
    height: 10%;
}

.livestreamdetail-chat-header label {
    font-weight: bold;
}

.livestreamdetail-chat {
    height: 70vh;
}

.livestreamdetail-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}

.livestreamdetail-message textarea {
    background: #eee;
    width: 100%;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    resize: none;
    margin: 0 15px;

}

.livestreamdetail-message button {
    padding: 12px 16px;
    margin: 0px 10px;
    color: rgba(39,199,171,1);
    border: none;
    border-radius: 3px;
    background: transparent;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

.modal-uploading-video-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 500px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.modal-uploading-video-dialog i {
    color: rgba(39,199,171,1);
}

.uploadingVideoBar {
    background-color: grey;
    width: 80%;
    border-radius: 3px; 
}

.completedVideoBar {
    background-color: rgba(39,199,171,1);
    color: white;
    border-radius: 3px; 
    text-align: right;
}

.modal-livestream-modal-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 500px;
    transform: translate(-50%, -50%);
}

.modal-livestream-modal-dialog .modal-title {
    font-weight: bold;
}

.modal-livestream-modal-dialog .close {
    border: none;
    outline: none;
}

.livechat {
    padding: 10px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    height: 70vh;
    max-height: 70vh;
}

.livechat li label {
    font-weight: bold;
    word-break: break-all;
    display: block;
}

.message-data {
    position: relative;
    word-break: break-all;
    display: inline-block;
    border-radius: 7px;  
    margin-bottom: 10px;
    padding: 10px 10px 0px 15px;
    background: #eee;
    color: #000;
    font-size: 15px;
    max-width: 90%;
}

.my-message {
    text-align: right;
    display: block;
    position: relative;
    clear: both;
    max-width: 90%;
    margin-bottom: 10px;
}

.my-message-data {
    position: relative;
    word-break: break-all;
    display: inline-block;
    border-radius: 7px;  
    padding: 10px 10px 0px 10px;
    font-size: 15px;
    background: rgba(39,199,171,1);
    color: white;
    max-width: 90%;
}


@media only screen and (max-width: 1200px) { 

    .media-conversation-list-container .user .about .name {
        font-weight: bold;
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }      
        
    .people-list .name {
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }    
        
    .chat .chat-with {
        width: 400px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

}



@media only screen and (max-width: 992px) {
    .intro-rightside img {
        width: 130%;
        margin: -15.875% -11.875%;
        height: auto;
    }

    .intro-leftside {
        align-content: center;
        text-align: center;
        height: 100%;
        padding: 60px;
    }

    .intro-rightside {
        align-content: center;
        text-align: center;
        height: 100%;
    }

    .media-conversation-list-container .user .about .name {
        width: 75px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }      
        
    .people-list .name {
        width: 75px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }    
        
    .chat .chat-with {
        width: 320px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


    .livestream-review {
        width: 60%;
        
    }


    .livestream-form {
        width: 40%;
    }    

    .livestream-list ul > li {
        width: 44%;
        margin: 0px 20px 50px 20px;
    }

    
    .livestreamdetail-container {
        width: 70%;
    }

    .livestreamdetail-chat-container {
        width: 30%;
    }
}

@media only screen and (max-width: 900px) {
    .livestream-list ul > li {
        width: 42%;
        margin: 0px 20px 40px 20px;
    }
}

@media only screen and (max-width: 850px) {
    .media-page-container .media-conversation-list-container {
        width: 20%;
        
    }
    .media-conversation-list-container .user {
        display: flex;
        justify-content: center;
    }
    .media-conversation-list-container .user .user-avatar {
        display: block;
        position: fixed;
    }

    .media-conversation-list-container .user .about {
        display: none;
    }
    
    .people-list {
        display: flex;
        justify-content: center;
    }

    .people-list ul > li a {
        padding: 5px;
    }

    .people-list .search {
        display: none;
    }      
    
    .people-list .about {
        display: none;
    }
    
    .media-chat-container {
        width: 80%;
    }

    .chat .chat-with {
        width: 275px;
    }

    .livestream-list ul > li {
        width: 40%;
        margin: 0px 20px 70px 20px;
    }
}

@media only screen and (max-width: 768px) { 

    .menu-toggle {
		display: block;
	}

	nav {
		padding-top: 0;
		display: none !important;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100%;
        text-align: center;
	}

	nav ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
        vertical-align: middle;
	}

	nav ul li {
        margin-top: 2rem;
        text-align: center;
	}

	nav ul li .nav-link {
		margin: 0;
		font-size: 1.5rem;
	}

	.brand-name {
		font-size: 1.5rem;
    }

    .header .nav-name-button {
        margin-top: 20px;
    }
  
    .overlay.menu-open, nav.menu-open {
        display: flex !important;
        transform: scale(1);
        opacity: 1;
        vertical-align: middle;
    }

    .intro-leftside {
        align-content: center;
        text-align: center;
        height: 100%;
        padding: 60px;
    }

    .search-userbox-group-scroll {
        margin-top: 5px;
        width: 100%;
        height: 95px;
        overflow: hidden; 
        overflow-y: scroll;
    }


    .chat .chat-with {
        width: 200px;
    }

    .livestream-list ul > li {
        width: 40%;
        margin: 0px 20px 50px 20px;
    }

    .livestreamdetail-container {
        width: 100%;
    }

    .livestreamdetail-chat-container {
        display: none;
    }
}


@media only screen and (max-width: 576px) { 

    .livestream-list ul > li {
        width: 90%;
        margin: 0px 20px 100px 20px;
    }

    .platforms-logos {
        display: flex;
        justify-content: space-between;
    }

    .platforms-logos div span {
        display: none;
    }

    .login-img {
        display: none;
    } 

    .signup-page {
        position: relative;
        overflow: hidden;
        overflow-y: auto;
    }

    .signup-img {
        display: none;
    }

    .signup-form-input {
        margin: 5px;
        width: 250px;
    }

    .signup-birthday-input {
        margin-left: 5px;
        display: inline;
        text-align: center;
        
    }

    .chat .chat-with {
        width: 125px;
    }

    .livestream-review {
        display: none;
    }

    .livestream-form {
        width: 100%;
    }

    .livestream-list ul > li {
        width: 90%;
        margin: 0px 20px 50px 20px;
    }

    .modal-livestream-modal-dialog {
        width: 100%;
    }

    .modal-uploading-video-dialog {
        width: 100%;
    }

    .modal-callee-dialog {
        width: 100%;
    }

    .livestream-create-header {
        display: flex;
        justify-content: left;
        width: 100%;
        height: 20%;
        margin: 0;
    }
    
    .livestream-create-header a {
        margin-left: 30px;
    }

    .livestream-create-header input {
        display: none;
    }
}

@media only screen and (max-width: 480px) { 
    .sidebar ul li a {
        font-size: 16px;
    }

    .chat .chat-with {
        width: 80px;
    }
    
    .chat .chat-call button {
        padding: 0;
        margin: 0;
    }

}

@media only screen and (max-width: 380px) { 
    .chat .chat-with {
        display: none;
    }
}